li {
  display: inline;
  background-color: #73d2f3;
  color: white;
  height: 50px;
  width: 50px;
  margin: 10px;
  text-align: center;
  padding: 20px;
  font-weight: 25px;
}

ul {
  margin-top: 70px;
}

.post {
  margin: 70px;
  height: 40px;
}

